
.auth-view {

    .password-widget {
        overflow: hidden;

        label.toggle-password-display {
            font-size: 70%;
            text-align: middle;
            float: right;
        }
    }
}
