
$banner-height: 4px;


.banner {
    display: table;
    width: 100%;
    height: $banner-height;
    z-index: 30;

    .spring {
        display: table-cell;
        background: rgb(78,205,196);
        width: 25%;
    }
    .summer {
        display: table-cell;
        background: rgb(199,244,100);
        width: 25%;
    }
    .fall {
        background: rgb(255,107,107);
        display: table-cell;
        width: 25%;
    }
    .winter {
        display: table-cell;
        background: rgb(85,98,112);
        width: 25%;
    }
}