@import "compass/css3";
@import "compass/css3/user-interface";

$images-dir: 'billing/stripe';

.billing-stripe {

    #billing-card-number {
        @include box-sizing(border-box);
        background: #fff 98.5% 30% no-repeat;
        width: 100%;

        &.unknown {
            background-image: inline-image($images-dir+'/generic.png','image/png');
        }
        &.visa {
            background-image: inline-image($images-dir+'/visa.png','image/png');
        }
        &.mastercard {
            background-image: inline-image($images-dir+'/mastercard.png','image/png');
        }
        &.discover {
            background-image: inline-image($images-dir+'/discover.png','image/png');
        }
        &.amex {
            background-image: inline-image($images-dir+'/amex.png','image/png');
        }
    }

    .expiry-date {
        float: left;
        width: 67%;
    }

    .cvc {
        width: 30%;
        float: right;
    }

    .pending, .success {
        background: #FFF url(spinner.gif) center center no-repeat;
        min-height: 130px;
    }
}
