
.boutique-select-view {

    margin-top: 10%;
    text-align: center;

    hr {
        clear: both;
        text-align: center;
    }

    .logo {
        text-align: center;
        font-size: 140%;
        margin: 0 auto;
    }

    h1 {
        margin: 1em 0;
    }

    input {
        text-align: center;
        margin: 1em auto 0.5em auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}