
// Sets the percentage of the header height that will be vertical padding.
$navbar-vertical-padding-ratio: 0.10;

// The color of the action icons.
$action-color: $primary-color;

// The width of the area that will be registered as a click.
$action-hitbox-width: 40px;

// Sets the size of the action icons (percentage).
$item-size: 0.7;

// These values are used to normalize the sizes of the actions.
$logo-size-offset: 0.6;
$left-action-size-offset: 0.5;
$right-action-size-offset: 0.8;


.header-view {
    background-color: rgb(244, 244, 244);
    // @include box-shadow(0px 1px 0px rgb(232, 232, 232));
    border-bottom: 1px solid rgb(203,203,203);

    height: $header-height;

    .navigation-bar {
        height: $header-height;
        line-height: $header-height;

        .logo {
            position: absolute;
            left: $action-hitbox-width;
            right: $action-hitbox-width;
            font-size: $logo-size-offset * $item-size * $header-height;
        }

        .action {
            color: $action-color;
            height: $header-height;
            position: absolute;
            text-align: center;

            &:active {
                color: darken($action-color, 5%);
            }
        }

        .left-action {
            font-size: $left-action-size-offset * $item-size * $header-height;
            width: $action-hitbox-width;
        }

        .right-action {
            font-size: $right-action-size-offset * $item-size * $header-height;
            right: 1px;
            width: $action-hitbox-width;
        }
    }
}
