
$navbar-height: 40px;
$navbar-vertical-padding: 5px;
$header-height: $navbar-height + $navbar-vertical-padding;

$action-width: 40px;
$action-font-color: #bbb;


.header-view {

    .navigation-bar {
        padding: $navbar-vertical-padding 0;
        height: $navbar-height;
        line-height: $navbar-height + 1px;
        z-index: 100;

        border-bottom: 1px solid #ddd;

        .logo {
            position: absolute;
            left: $action-width;
            right: $action-width;
            font-size: 0.5 * $navbar-height;
        }

        .action {
            color: $action-font-color;
            height: $header-height;
            position: absolute;
            text-align: center;

            &:active {
                color: darken($action-font-color, 15%);
            }
        }

        .left-action {
            font-size: 0.5 * $navbar-height;
            width: $action-width;
        }

        .right-action {
            font-size: 0.8 * $navbar-height;
            right: 1px;
            width: $action-width;
        }
    }
}
