
.dim-overlay {
    background: rgba(black, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
}

.popup {
    background: #fff;
    position: fixed;
    top: 3%;
    left: 4%;
    right: 4%;
    border: 1px solid #999;
    border-bottom-width: 2px;
    color: #444;
    padding: 1em 6%;
    z-index: 9999;

    font-size: 80%;

    h1 {
        margin-bottom: 1.0em;
        text-align: center;
    }

    h1 + .instructions {
        margin-bottom: 0.5em;
    }

    p {
        font-size: 80%;
        color: #999;
        font-style: italic;
    }

    label {
        margin-bottom: 0.5em;
    }

    .close {
        $padding: 1em;

        cursor: pointer;
        position: absolute;

        right: 0.5em - $padding;
        top: 0.5em - $padding;
        padding: $padding;

        color: rgba(black, 0.3);

        &:hover {
            color: rgba(black, 0.45);
        }
        &:active {
            color: rgba(black, 0.6);
        }
    }
}