.shipping-view {

    margin: 0 4%;

    #shipping-firstname,
    #shipping-lastname {
        width: 50%;
        float: left;
    }

    #shipping-firstname {
        border-right: 0;
    }

    #shipping-firstname:focus + input {
        border-left: 1px solid $primary-color;
    }

    header {
        position: relative;
    }

    #toggle-address-mode {
        float: right;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .addresses {
        border: 1px solid #dedede;
        clear: both;
        font-size: 80%;
        margin-bottom: 0.6em;
        position: relative;

        a {
            color: #888;
            text-decoration: none;
        }

        .address {

            &:first-child {
                border-top: none;
            }

            @include background(
                darken($body-background-color, 4%)
            );

            @include box-shadow(
                inset 0px 1px 0px darken($body-background-color, 2%),
                inset 0px -1px 0px darken($body-background-color, 2%)
            );

            border-top: 1px solid #cfcfcf;
            padding: 0.5em 1em;
            position: relative;
            text-shadow: 0 1px 0 white;
            cursor: pointer;

            .name {
                font-weight: bold;
                margin-bottom: 5px;
                color: #555;
            }

            .check {
                position: absolute;
                margin-top: -0.95em;
                line-height: 2em;
                top: 50%;
                right: 5%;
                font-size: 180%;
                color: #888;
            }

            .check.active {
                display: block;
            }

            .remove {
                position: absolute;
                margin-top: -1em;
                top: 50%;
                right: 2%;
                line-height: 2em;
                font-size: 100%;
                background-color: #b94a48;
                padding: 1px 4px 2px;
                color: #ffffff;
                white-space: nowrap;
                @include text-shadow(0 -1px 0 rgba(black, 0.25));
                @include border-radius(3px);
            }
        }
    }

}