
.shipping-view {

    #wizard-status-bar {
        a {
            margin-left: 1em;
        }
    }

    #shipping-firstname,
    #shipping-lastname {
        width: 50%;
        float: left;
    }

    #shipping-firstname {
        border-right: 0;
    }

    #shipping-firstname:focus + #shipping-lastname {
        border-left: 0.1em solid $primary-color;
    }

    header {
        position: relative;
    }

    #toggle-address-mode {
        float: right;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .addresses {
        clear: both;
        font-size: 80%;
        position: relative;

        .address {
            position: relative;
            cursor: pointer;
            padding: 0.5em 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            .check {
                position: absolute;
                margin-top: -0.95em;
                line-height: 2em;
                top: 50%;
                right: 4%;
                font-size: 180%;
                color: #ddd;
            }

            .check.active {
                display: block;
                color: $primary-color;
                @include text-shadow(none);
            }

            .remove {
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -1em;
                line-height: 2em;
                background-color: #b94a48;
                padding: 1px 4px 2px;
                color: #ffffff;
            }
        }
    }
}