
$complete-color: $primary-color;
$active-color: $font-color-normal;
$invalid-color: yellow;

.wizard-status-bar {
    margin: 0 (-5%);
    padding: 0.5em 5%;
    background: white;
    @include box-shadow(0px 1px 4px rgba(#333, 0.1));
    @include box-sizing(content-box);
}

#wizard-step {
    margin: 0 4%;
}

#wizard-step-list {
    text-align: center;
    clear: both;
    overflow: hidden;
    margin-top: 1em;
    line-height: 1em;

    .wizard-step-list-item {
        float: left;
        font-size: 70%;
        position: relative;
        color: $font-color-light;
        font-weight: normal;

        &:before {
            opacity: 0.4;
            content: '· · ·';
            display: inline;
            position: absolute;
            text-align: center;
            width: 100%;
            left: 50%;
            top: 0;
            font-weight: 700;
            // color: $font-color-light;
        }

        &.active {
            color: $active-color;

            &:after {
                content: '▲';
                display: block;
                color: white;
                font-size: 20px;
                position: relative;
                z-index: 999;
                bottom: -5px;
                @include text-shadow(0px -1px 1px rgba(black, 0.1));
                // border-left: 5px solid transparent;
                // border-right: 5px solid transparent;
                // border-bottom: 8px solid white;
                // height: 0;
                // width: 0;
                // position: relative;
                // left: 50%;
                // @include box-shadow(0px -1px 1px rgba(black, 0.2));
            }
        }

        &.complete {
            color: $complete-color;
        }

        &.invalid {
            color: $invalid-color;
        }

        i {
            position: relative;
            top: 0.1em;
            left: -0.3em;
        }

        .index {
            position: relative;
            margin-right: 0.4em;
        }

        &:last-child {
            &:before {
                display: none !important;
            }
        }
    }
}
