
$complete-color: $primary-color;
$active-color: $font-color-normal;
$invalid-color: yellow;

#wizard-step-list {
    text-align: center;
    clear: both;
    overflow: hidden;
    margin-top: 0.5em;
    line-height: 2em;

    .wizard-step-list-item {
        float: left;
        font-size: 70%;
        position: relative;
        color: $font-color-light;
        font-weight: normal;

        &:after {
            opacity: 0.4;
            content: '· · ·';
            display: inline;
            position: absolute;
            text-align: center;
            width: 100%;
            left: 50%;
            top: 0;
            font-weight: 700;
            // color: $font-color-light;
        }

        &.active {
            color: $active-color;
        }

        &.complete {
            color: $complete-color;
        }

        &.invalid {
            color: $invalid-color;
        }

        i {
            position: relative;
            top: 0.1em;
            left: -0.3em;
        }

        .index {
            position: relative;
            margin-right: 0.4em;
        }

        &:last-child {
            &:after {
                display: none !important;
            }
        }
    }
}
