
$complete-color: $primary-color;
$active-color: $font-color-normal;
$invalid-color: yellow;

#wizard-status-bar {
    margin: 0 (-4%);
    padding: 0.5em 4%;
    background: white;
    @include box-shadow(0px 1px 4px rgba(#333, 0.1));
    @include box-sizing(content-box);
    line-height: 2em;

    h1 {
        margin: 0;
    }
}

#wizard-step {
    margin: 0 4% 1em;
}

#wizard-step-list {
    clear: both;
    overflow: hidden;
    line-height: 3em;
    margin: 0 4%;
    position: relative;

    .wizard-step-list-item {
        float: left;
        font-size: 70%;
        color: $font-color-light;
        font-weight: normal;
        text-align: center;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;

            .separator {
                display: none;
            }
        }

        .step {
            display: inline;
            position: relative;

            .title {
                margin-left: 1.2em;
            }

            i, .index {
                position: absolute;
                left: 0;
            }

            i {
                margin-top: 1px;
            }
        }

        .separator {
            text-align: center;
            opacity: 0.4;
            display: inline;
            position: absolute;
            font-weight: 700;
            top: 0;
            bottom: 0;
            // Alignment is adjusted via javascript. See `wizard-view.coffee` in
            // `App.Views.WizardStepList::adjustSeparatorWidth`.

            &:after {
                content: '· · ·';
            }
        }

        &.active {
            color: $active-color;

            .step {
                position: relative;

                &:before {
                    text-align: center;
                    content: '▲';
                    display: block;
                    color: white;
                    font-size: 20px;
                    position: absolute;
                    bottom: 0;
                    top: 4px;
                    width: 100%;
                    @include text-shadow(0px -1px 1px rgba(black, 0.1));
                    // border-left: 5px solid transparent;
                    // border-right: 5px solid transparent;
                    // border-bottom: 8px solid white;
                    // height: 0;
                    // width: 0;
                    // position: relative;
                    // left: 50%;
                    // @include box-shadow(0px -1px 1px rgba(black, 0.2));
                }
            }


        }

        &.complete {
            color: $complete-color;
        }

        &.invalid {
            color: $invalid-color;
        }
    }
}
