
$body-background-color: #f7f7f7;

$font-color-normal: #444;
$font-color-light:  #888;
$font-base-size: 62.5%;
$font-weight: 300;
$font-stack: "Source Sans Pro", "HelveticaNeue67MediumCondensed", "Helvetica Neue", sans-serif;

$logo-font-stack: "FuturaFile", sans-serif;

$anchor-color-normal: #555;
$anchor-color-hover:  #222;

$input-focus-border-color: rgba(82, 168, 236, 0.8);


* {
    // Prevents the 'save image' dialog when a user holds a link or image
    -webkit-touch-callout: none;

    // Prevents link highlighting
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    // Prevent safari from resizing our text
    -webkit-text-size-adjust: none;
}

:not(input)
{
    @include user-select(none);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: $body-background-color;
    color: $font-color-normal;
    font: $font-base-size $font-stack;
    font-weight: $font-weight;
    -webkit-font-smoothing: antialiased;
}

a {
    color: $anchor-color-normal;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $anchor-color-hover;
    }
}

hr {
    height: 0;
    border: 0;
    border-top:    1px solid #ddd;
    border-bottom: 1px solid #fdfdfd;
}

.logo {
    text-align: center;
    font-family: $font-stack;
    @include text-shadow(0px 1px 1px white);
}

.instructions {
    color: $font-color-light;
    font-style: italic;
    text-align: center;
    font-size: 70%;
    display: inline-block;
    width: 100%;
}

.hint {
    font-size: 70%;
    color: $font-color-light;
    font-style: italic;
}

.price {
    &:before {
        content: '$';
    }
}
