
$body-background-color: #f7f7f7;

$font-color-normal: #444;
$font-color-light:  #999;
$font-base-size: 16px;
$font-weight: 300;
$font-stack: "Source Sans Pro", "HelveticaNeue67MediumCondensed", "Helvetica Neue", sans-serif;

$primary-color: #00ccc5;

$logo-font-stack: "FuturaFile", sans-serif;

$input-focus-border-color: rgba(82, 168, 236, 0.8);


* {
    // Prevents the 'save image' dialog when a user holds a link or image
    -webkit-touch-callout: none;

    // Prevents link highlighting
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    // Prevent safari from resizing our text
    -webkit-text-size-adjust: none;

    // Making the box model not suck
    @include box-sizing(border-box);
}

:not(input)
{
    @include user-select(none);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: $body-background-color;
    color: $font-color-normal;
    font: $font-base-size $font-stack;
    font-weight: $font-weight;
    -webkit-font-smoothing: antialiased;
}

a {
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

label {
    color: $font-color-light;
    display: block;
    font-weight: 500;
}

em {
    font-weight: 600;
}

hr {
    height: 0;
    border: 0;
    border-top:    1px solid #ddd;
    border-bottom: 1px solid #fdfdfd;
}

#page {
    background-color: #eee;

    h1, header {
        margin-bottom: 1.0em;
        margin-top: 0.5em;
    }

    h1 {
        font-weight: 600;
        font-size: 120%;
        line-height: 1.5em;
    }

    header > h1 {
        margin: 0;
    }
}

.logo {
    text-align: center;
    font-family: $font-stack;
    color: $primary-color;
    font-weight: 600;
}

.instructions {
    color: $font-color-light;
    font-style: italic;
    text-align: center;
    font-size: 70%;
    display: inline-block;
    width: 100%;
}

.hint {
    font-size: 70%;
    color: $font-color-light;
    font-style: italic;
}

.price {
    &:before {
        content: '$';
    }
}
