
@import "typicons";

@include font-face("FuturaFile", inline-font-files('futura-md-bt-medium.ttf', truetype));
// @include font-face("LatoLightItalic", inline-font-files('lato-light.ttf', truetype));
