
@mixin button-color($color, $text-color) {
    color: $text-color;
    background-color: $color;
    -webkit-font-smoothing: antialiased;
}

button {
    display: block;
    font-size: 120%;
    letter-spacing: 0.1em;
    padding: 0.6em 0.8em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    line-height: 1.5em;

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translateZ(0);

    // border: 1px solid rgba(0,0,0,0.03);
    border: none;

    &.button-primary {
        @include button-color($primary-color, white);

        &:disabled {
            @include button-color(darken(#f5f5f5, 20%), #f7f7f7);
        }

        &.loading {
            background-image: inline-image('spinner.gif');
            background-position: center;
            background-repeat: no-repeat;
            text-indent: -9999px;
            white-space: nowrap;
        }
    }

    &.button-secondary {
        @include button-color(#888, white);
        font-size: 60%;
        width: auto;
        text-transform: lowercase;

        &.loading {
            // TODO
        }
    }


    &:active:not(:disabled), &:active:not(.loading) {
        @include box-shadow(inset 0 0 5px #888);
    }
}


select, textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {

    $border-width: 1px;
    $horizontal-padding: 6px;

    $border-color-normal: #ddd;
    $border-color-focus: $primary-color;

    display: block;
    font-size: 110%;
    border: $border-width solid $border-color-normal;
    padding: 0.3em $horizontal-padding;
    margin: 0.2em auto 0.7em auto;
    color: #555;
    width: 100%;

    outline: none;

    @include appearance(none);
    @include border-radius(0);
    @include box-shadow(inset 0px 2px 2px rgba(black, 0.05),
                              0px 0px 0px rgba(white, 0.1));

    &:focus {
        $border-left-width: 3px;
        border-color: $border-color-focus;
        border-left-width: $border-left-width;
        padding-left: $horizontal-padding - $border-left-width + $border-width;
    }

    &.input-auto-width {
        width: auto;
    }

    &.input-no-focus-left-border:focus {
        border-left-width: $border-width !important;
        padding-left: $horizontal-padding !important;
    }
}

select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"], {
    @include appearance(listbox);
}

input[type=checkbox],
input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    height: auto;
}

input[type=radio] {
    bottom: 2px;
}

input.error {
    border-color: rgb(185, 74, 72);
}


input::-moz-placeholder,
input::-webkit-input-placeholder {
    color: #ccc;
    line-height: normal;
}


input.error::-moz-placeholder,
input.error::-webkit-input-placeholder {
    color: rgb(185, 74, 72);
}


input.error:focus::-moz-placeholder,
input.error:focus::-webkit-input-placeholder {
    color:  rgba(185, 74, 72, 0.7);
    line-height: normal;
    @include transition(color linear 0.2s);
}
