
$header-height: 50px;


#header {
    width: 100%;
}

#page {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}

.content {
    position: relative;
}

.restrict-width {
    width: 100%;
    position: relative;
}

.section {
    margin-bottom: 1.5em;
    clear: both;
}