
$content-gutter-size: 4%;


.content {
    padding: 1em $content-gutter-size;
    position: relative;
}

.content-fixed {
    position: fixed;
}

.restrict-width {
    width: 100%;
    position: relative;
}

.section {
    margin-bottom: 1.5em;
    clear: both;
}