
$header-height: 50px;


#header {
    width: 100%;
}

#page {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: scroll;

    // Enables native scrolling on iOS 5.1+
    -webkit-overflow-scrolling: touch;

    & > * {
        // Fixes bug where `position:relative` or `position:absolute` elements would
        // disappear on scroll. This enables GPU rendering.
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
}

.content {
    position: relative;
}

.restrict-width {
    width: 100%;
    position: relative;
}

.section {
    margin-bottom: 1.5em;
    clear: both;
}