// THIS IS STILL WIP


@media only screen and (min-width: 960px) {
}

// Smartphones (portrait and landscape)
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

// Smartphones (landscape)
@media only screen and (min-width : 321px) {
}

// Smartphones (portrait)
@media only screen and (max-width : 768px) {
}

// iPads (portrait and landscape)
@media only screen and (min-width : 768px) {

    #page, .content, .restrict-width {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    #page {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
    }

}

// iPads (landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

// iPads (portrait)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

// Desktops and laptops
@media only screen and (min-width: 960px) {
}

// Large screens
@media only screen and (min-width : 1824px) {
}

// iPhone 4
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
}