@import "base";
@import "fonts";
@import "webkit";
@import "inputs";
@import "popup";
@import "loading_modal";

@import "wizard";
@import "confirm";
@import "billing-stripe";


$logoFontStack: "FuturaFile", sans-serif;
$fontStack:  'Source Sans Pro', "HelveticaNeue67MediumCondensed", "Helvetica Neue", sans-serif;
$serifStack: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;

$baseFontSize: 62.5%;

$bodyColor: #f7f7f7;
$fontColor: #444;
$lightFontColor: #888;

$logoColor: #333;
$logoSize: 1.4em;

$contentBackgroundColor: #f7f7f7;

$footerFontColor: #3B8686;

$buttonColor: #F38630;
$errorColor: rgb(222, 188, 188);

$note: #fffee0;

$priceFontSize: 100%;
$priceLabelColor: #333;

$adGridColor: none;
$adGridSize: 1%;
$adDollarColor: #777;

$gutterSize: 4%;
$bannerHeight: 4px;

$headerHeight: 40px;


body {
    background: $bodyColor;
    background-image: $contentBackgroundColor;
    color: $fontColor;
    font: $baseFontSize $fontStack;
    height: 100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}

h1 {
    color: $fontColor;
}

// DEBUG
// @include emulate-device(320px, 460px);

#header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logo {
    @include text-shadow(0px 1px 1px white);
    color: $logoColor;
    font-family: $logoFontStack;
    font-size: $logoSize;
    -webkit-font-smoothing: antialiased;
}

.navigation-bar {
    height: $headerHeight;
    line-height: 41px;

    border-bottom: 1px solid #ddd;
    @include box-shadow(0px 1px 0px #fdfdfd);

    background-color: $contentBackgroundColor;
    z-index: 20;

    .logo {
        position: absolute;
        left: 40px;
        right: 40px;
        display: inline-block;
        text-align: center;
        margin: 0 auto !important;
    }

    .nav-action {
        cursor: pointer;
        color: #bbb;

        &:active {
            color: $fontColor;
        }
    }

    .left-action {
        font-size: 90%;
        height: 40px;
        width: 40px;
        text-align: center;
        display: inline-block;
    }

    .right-action {
        font-weight: normal;
        font-size: 31px;
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
        width: 40px;
    }
}

.restrict-width {
    width: 100%;
    position: relative;
}

.menu {
    position: absolute;
    right: 0;
    width: 50%;
    background: #fcfcfc;
    z-index: 10;
    @include box-shadow(0px 2px 4px rgba(black, 0.2));
    text-align: right;
    display:none;
    //top: -500px;

    //@include transition-property(top);
    //@include transition-duration(0.3s);

    //-webkit-transform:translate3d(0,0,0);

    &.active {
        display: block;
        //top: 0;
    }

    ul {
        li {
            border-bottom: 1px solid #ddd;
            height: 20%;

            &:first-child {
                border-top: 1px solid $contentBackgroundColor;
            }

            &:hover {
                background-color: #fefefe;
            }

            a, span {
                display: block;
                padding: 0.5em 0.4em;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

.content {
    position: relative;
}

.home {
    margin-top: 10%;
    text-align: center;

    hr {
        height: 0;
        border: 0;

        border-top: 1px solid #ddd;
        border-bottom: 1px solid #fdfdfd;

        clear: both;
        text-align: center;
    }

    .logo {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        font-size: 140%;
        float: none;
    }
    h1 {
        margin: 1em 0;
    }
    input {
        text-align: center;
        margin: 1em auto 0.5em auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#fixed-content {
    position: fixed;
    width: 100%;
    margin-top: 40px;
}

.item {

    img {
        max-height: 300px;
        display: block;
        margin: 0 auto;
    }

    header {
        border: none;
        margin: 0;
        background-color: #eee;
        padding: 20px 0 20px 20px;

        h1.item-name {
            font-size: 2.2em;
            width: 210px;
            color: #232323;
            font-weight: bold;
            display: inline-block;
        }
        
        div.stats {
            overflow: hidden;
            margin: 20px 0 0 0;

            div {
                float: left;
            }

            .views-icon {
                position: relative;
                width: 20px;
                height: 20px;
                background: red;
                margin: 0 10px 0 0;
            }

            .views-count, .likes-count {
                font-size: 1.2em;
                color: #999;
                margin-right: 30px;
            }

            .likes-icon {
                position: relative;
                width: 20px;
                height: 20px;
                background: red;
                margin: 0 10px 0 0;
            }
        }
    }

    .details-container {
        z-index: -1;
        top: 470px;
        position: absolute;
        color: #999;
        width: 100%;

        .details {
            font-size: 1.2em;
            line-height: 1.6em;
            padding: 20px;
        }
    }


    .btn-big {
        width: 100%;
        clear: both;
        display: block;
        margin: 0 auto;
    }

    #buy-btn {
        width: 85px;
        font-weight: bold;
        float: right;
    }
}

.price {
    background: rgba(255, 255, 255, 0.6);
    clear: both;
    display: block;
    margin: 0 auto;
    width: 85px;
    color: #232323;
    right: 0;
    top: 70px;
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
    padding: 0.6em 0.8em;

    &:before {
        content: '$ ';
    }
}

.register {

    .error .error-message {
        margin-top: 20px;
    }

    .hint {
        font-size: 70%;
        color: $lightFontColor;
        margin: 0 0 1em 0;
        text-align: center;
        font-style: italic;
    }

    form {
        clear: both;
        overflow: hidden;

        .wrap {
            overflow: hidden;

            .input-wrap {
                position: relative;
            }

            .field-error {
                position: absolute;
                right: 0;
                padding-right: 0.5em;
                font-size: 60%;
            }

            .password-widget {
                overflow: visible !important;
            }

            .reset-password {
                font-size: 70%;
                float: left;
            }
        }

        footer {
            margin-top: 1em;
            font-size: 100%;
            clear: both;

            button {
                margin-bottom: 1em;
            }

            .terms {
                font-size: 60%;
                text-align: center;
                color: #aaa;

                a {
                    color: #777;
                    cursor: pointer;

                    &:hover {
                        color: #444;
                    }
                }
            }
        }
    }
}


.address-list {

    #shipping-firstname,
    #shipping-lastname {
        width: 50%;
        float: left;
    }

    #shipping-firstname {
        border-right: 1px solid white;
        @include transition(border linear 0.2s);
        &:focus {
            border-right: 1px solid rgba(82, 168, 236, 0.8);
            @include transition(border linear 0.2s);
        }
    }

    #shipping-firstname:focus + input {
        border-left: 1px solid white !important;
    }

    .postalcode {

        width: 100%;

        .hint {
            vertical-align: middle;
            padding-left: 1em;
            font-size: 50%;
            color: $lightFontColor;
        }

        input {
            width: 100%;
        }
    }

    .create-address-btn {
        color: white;
        font-size: 60%;
        border-color: darken($contentBackgroundColor, 15%);
        border-bottom-color: darken($contentBackgroundColor, 25%);
        width: auto;
        height: auto;
        margin: 0 0;
        line-height: 20px;
        margin-bottom: 2em;

        @include background-image(linear-gradient(
            darken($contentBackgroundColor, 5%),
            darken($contentBackgroundColor, 15%)
        ));

        @include text-shadow(
            0px -1px 1px darken($contentBackgroundColor, 20%)
        );

        &:active {
            @include background-image(linear-gradient(
                darken($contentBackgroundColor, 5%),
                darken($contentBackgroundColor, 15%)
            ));

            @include box-shadow(
                inset 0px 1px 1px darken($contentBackgroundColor, 20%)
            );

            border-bottom-color: white;
        }
    }

    .addresses {
        border: 1px solid #dedede;
        clear: both;
        font-size: 80%;
        margin-bottom: 0.6em;
        position: relative;

        a {
            color: #888;
            text-decoration: none;
        }

        .address {

            &:first-child {
                border-top: none;
            }

            @include background(
                darken($contentBackgroundColor, 4%)
            );

            @include box-shadow(
                inset 0px 1px 0px darken($contentBackgroundColor, 2%),
                inset 0px -1px 0px darken($contentBackgroundColor, 2%)
            );

            border-top: 1px solid #cfcfcf;
            padding: 0.5em 1em;
            position: relative;
            text-shadow: 0 1px 0 white;
            cursor: pointer;

            .name {
                font-weight: bold;
                margin-bottom: 5px;
                color: #555;
            }

            .check {
                position: absolute;
                margin-top: -0.95em;
                line-height: 2em;
                top: 50%;
                right: 5%;
                font-size: 180%;
                color: #888;
            }

            .check.active {
                display: block;
            }

            .remove {
                position: absolute;
                margin-top: -0.95em;
                top: 50%;
                right: 2%;
                line-height: 2em;
                font-size: 100%;
            }
        }
    }

}


.item-header {
    width: 100%;
    background: #f7f7f7;
    color: #777;
    font-size: 80%;
    text-align: center;
    margin-bottom: 0;
    padding: 0.5em 0;
    padding-bottom: 0;
    z-index: 40;
    @include box-shadow(0px -1px 0 rgba(black, 0.4));

}

.navigation-bar.black {
    border: none;

    .back {
        background: #f7f7f7;
        border-top: 1px solid rgba(black, 0.4);
        border-right: 1px solid rgba(black, 0.4);
    }
}

.thanks {

    text-align: center;

    .item-name {
        font-weight: normal;
    }

    .postit {
        font: $baseFontSize times, serif;
        background: $note;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 3px rgba(0, 0, 0, .3);
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
        padding: 10px 10px 5px;
        text-align: center;
        margin: 0 auto;
        max-width: 400px;
        display: block;
        top: 20px;

        p {
            margin-bottom: 5px;
        }

        .logo {
            height: 32px;
            margin: 0;
            text-indent: -9999px;
            display: block;
        }
    }
}

.ad {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    .items {
        background: $adGridColor;
        display: table;
        width: 100%;

        .table-row {
            display: table-row;

            li {
                @include box-sizing(border-box);
                list-style: none outside none;
                padding: $adGridSize;
                width: 33.33333333%;
                vertical-align: top;
                margin: 0 !important;
                position: relative;
                display: table-cell;

                .image {
                    @include background-size(contain);
                    @include box-shadow(0 0px -2px 0px black);
                    @include box-sizing(border-box);
                    background-color: white;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    overflow: hidden;
                    height: 0;
                    padding-bottom: 100%;
                }

                footer {
                    @include box-sizing(border-box);
                    @include box-shadow(
                        inset 0px 2px 40px rgba(white, 0.1),
                        inset 0px 0px 1px rgba(white, 0.6));

                    clear: both;
                    background: #ddd;
                    font-size: 70%;
                    overflow: hidden;
                    padding: 3px 5px;
                    position: relative;
                    border-top: 1px solid #cfcfcf;
                    border-bottom: 1px solid #dadada;
                    border-left: 1px solid #dadada;
                    border-right: 1px solid #dadada;

                    .title {
                        font-size: 60%;
                        color: #888;
                        width: 100%;
                        min-height: 35px;
                    }

                    .bottom-bar {
                        @include box-sizing(border-box);
                        vertical-align: bottom;
                        width: 100%;
                        right: 0;

                        .price {
                            float: right;
                            position: relative;
                            top: 2px;

                            .dollar {

                                &:before {
                                    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
                                    color: #777;
                                    content: '$';
                                    padding-left: 1px;
                                }

                                position: relative;
                                top: -4px;
                                left: -1px;
                                font-size: 70%;
                            }
                        }

                        .buy-button {
                            @include box-sizing(border-box);

                            display: block;
                            font-size: 70%;
                            text-align: center;
                            padding-top: 1px;
                            padding-bottom: 3px;
                            width: 40px;
                            margin: 0;

                            color: #666;
                            background-color: #f5f5f5;

                            border-top:    1px solid rgba(0, 0, 0, 0.0976562);
                            border-right:  1px solid rgba(0, 0, 0, 0.0976562);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
                            border-left:   1px solid rgba(0, 0, 0, 0.0976562);

                            &:active, &.active {
                                background-color: darken(whitesmoke, 5%);
                                border-top-color: darken(whitesmoke, 15%);
                            }
                        }
                    }
                }
            }
        }
    }
}

.error {
    visibility: none;

    input {
        @include box-shadow(0 0px 0px 3px $errorColor);
    }

    .bubble {
        position: relative;
        border-color: $errorColor;

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            border-top: 10px solid;
            border-top-color: inherit;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }
    }

    .error-message {
        font-size: 80%;
        margin: 0;
        padding: 0;
        position: relative;
        top: -5px;
        color: rgb(185, 74, 72);
        text-align: center;
    }
}


.password-widget {
    overflow: hidden;

    label {
        font-size: 70%;
        text-align: middle;
        float: right;
    }
}

.instructions {
    color: #999;
    font-style: italic;
    text-align: center;
    font-size: 70%;
}

.section {
    margin-bottom: 1.5em;
    clear: both;
}




@media only screen and (min-width: 960px) {

}

// Smartphones (portrait and landscape)
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */

}

// Smartphones (landscape)
@media only screen
and (min-width : 321px) {

}

// Smartphones (portrait)
@media only screen
and (max-width : 320px) {
}

// iPads (portrait and landscape)
@media only screen
and (min-width : 768px) {
//and (max-device-width : 1024px) {
    .restrict-width {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    .item {
        .pricing {
            width: normal;
        }
    }
    input {
        height: 60px;
    }
    .ad {
        .items {
            .row {
                li {
                    footer {
                        .title {
                            margin-top: 10px;
                            font-size: 70%;
                            @include text-shadow(
                                0px 1px 0px white
                            );
                        }
                        .bottom-bar {

                        }
                    }
                }
            }
        }
    }


    .navigation-bar.black {
        .back {
            border-left: 1px solid rgba(black, 0.4);
        }
    }

}



.spinner {
    display: inline-block;
    margin: 0 auto;
}

// iPads (landscape)
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
}

// iPads (portrait)
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}

// Desktops and laptops
@media only screen and (min-width: 960px) {
//and (min-width : 1224px) {

}

// Large screens
@media only screen
and (min-width : 1824px) {
/* Styles */
}

// iPhone 4
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}
