


@include font-face(
    "Source Sans Pro",
    inline-font-files('source-sans-pro/SourceSansPro-ExtraLight.ttf', truetype),
    $weight: 200
);

@include font-face(
    "Source Sans Pro",
    inline-font-files('source-sans-pro/SourceSansPro-Light.ttf', truetype),
    $weight: 300
);

@include font-face(
    "Source Sans Pro",
    inline-font-files('source-sans-pro/SourceSansPro-Regular.ttf', truetype),
    $weight: 400
);

@include font-face(
    "Source Sans Pro",
    inline-font-files('source-sans-pro/SourceSansPro-Semibold.ttf', truetype),
    $weight: 600
);

@include font-face(
    "Source Sans Pro",
    inline-font-files('source-sans-pro/SourceSansPro-Bold.ttf', truetype),
    $weight: 700
);