
//- Adheres to hcard microformat.
//- http://microformats.org/wiki/hcard

.vcard
    .n
        span.given-name {{firstName}}
        span.family-name  {{lastName}}
    p.adr
        span.street {{street}}
        br
        //- span.locality {{city}}
        //- span.region, {{province}}
        span.postal-code {{postalCode}}

{{#if selected}}
i.icon-checkmark.active.check
{{else}}
i.icon-checkmark.check
{{/if}}

span.remove.label.label-important(style="display: none;") remove
