
form(method="post", action=".")

    .instructions.section {{ instructions }}

    fieldset.section
        {{#with user}}
        input#user-email( type='email'
                        , name='email'
                        , required=true
                        , placeholder='Email Address'
                        , value="{{#if email}}{{email}}{{/if}}")
        {{/with}}
        .password-widget

    button.btn-big#login-button(type="submit", disabled=true) {{ buttonText }}