
form(method="post", action=".")

    label.instructions(for='user-email')
        | What's your contact email address?

    input#user-email(type='email', name='email', placeholder='Email Address')

    //- D:
    br

    label.instructions(for='user-password')
        | Speed up your next checkout! Create an account by entering a password.
        | (optional)

    .password-widget.section

    button.button-primary#register-button(type="submit", disabled=true) Register
