
form(method="post", action=".")

    .instructions.section {{ instructions }}

    fieldset.section
        input#user-email(type='email', name='email', placeholder='Email Address')
        .password-widget

    button.btn-big(type="submit", disabled=true) {{ buttonText }}