
form(method="post", action=".")

    .instructions.section {{ instructions }}

    fieldset.section
        {{#with user}}
        label Email Address
            input#user-email( type='email'
                            , name='email'
                            , required=true
                            //- , placeholder='bob@example.com'
                            , value="{{#if email}}{{email}}{{/if}}")
        {{/with}}
        .password-widget

    button.button-primary#login-button(type="submit", disabled=true) {{ buttonText }}