
form(method="post", action=".")

    label.instructions(for='user-email')
        | What's your email address? We'll email you the receipt.

    input#user-email(type='email', name='email', placeholder='Email Address')

    //- D:
    br

    label.instructions(for='user-password')
        | Speed up your next checkout by saving your info! (optional)

    .password-widget.section

    button.button-primary#register-button(type="submit", disabled=true) Register
