
extends layouts/wizard-step-layout


block wizard-status-bar
    | Your total will be shown on the next page.
    //- h1 Your order
    //- .order-table


block wizard-step
    form#stripe-form(method='post', action='.', style="margin-top: 0.8em")

        fieldset(style="overflow: hidden; margin-bottom: 0.6em")

            {{#if isPhonegap}}
            button#scan-card-button.btn.button-primary(type="button", style="margin-bottom: 1em") Scan Your Card
            {{/if}}

            label.card-number Credit Card Number
                input#billing-card-number.unknown(type='tel', placeholder='Card Number', required='required', maxlength='18')

            label.expiry-date Expiry Date
                {{#if Modernizr.inputtypes.month}}
                //- TODO
                input#billing-expiry(type='tel', placeholder="MM / YY", maxlength='7', required='required')
                {{else}}
                input#billing-expiry(type='tel', placeholder="MM / YY", maxlength='7', required='required')
                {{/if}}

            label.cvc CVC
                input#billing-cvc(type='tel', placeholder='123', maxlength='4', required='required')

        button#wizard-next-step.button-primary(type="submit", disabled=true) Fill in all fields
