
#wizard-status-bar
    | This is the wizard status bar.

.instructions.section(style="margin-top: 1em")
    p Please tap the button below to enter your billing info on PayPal's secure servers.
    br

button.btn-big#wizard-next-step(type="submit") Continue to PayPal
