
.instructions.section
    p Please tap the button below to enter your billing info on PayPal's secure servers.
    br
    p By the way, you'll be charged only after you confirm your purchase.

#spinner

button.btn-big(type="submit") Continue to PayPal
