
#wizard-status-bar
    h1 Your Order
    .order-table

.instructions.section(style="margin-top: 1em")
    p We use PayPal to ensure that your billing information is safe.
    p You will only be charged after you confirm your order.

button.btn-big#wizard-next-step(type="submit") Continue to PayPal
