
ul.items
  {{#each itemSpotRow}}
  div.table-row
    {{#each itemSpots}}
    li
      .itemspot
        a.image(href="{{url}}", style="background-image: url({{image}});")
        footer
          .bottom-bar
            .item-name {{item.name}}
            .price
              span.dollar
              {{{formatPrice itemPrice}}}
    {{/each}}
  {{/each}}
