

h1.logo VIRTUAL PLAZA

hr

form#boutique-select-form(method='post', action='.')

    {{#if isPhonegap}}
    .instructions Scan an item or enter a boutique code to begin!
    {{else}}
    .instructions Enter a boutique code to begin!
    {{/if}}

    input#boutique-code.input-no-focus-left-border(
        name='boutique-code', type='text', autocapitalize='off', autocorrect='off')

    button.button-primary#navigate-to-boutique-button(type="submit") Visit Boutique

    {{#if isPhonegap}}
    .sep(style="color: #aaa; padding: 1em 0; clear: both; text-shadow: 0px 1px 0px white") or
    button.button-primary#scan-button(type="button") Scan Item
    {{/if}}
