
extends layouts/wizard-step-layout


block wizard-status-bar
    h1 Your order
    .order-table


block wizard-step
    .section

    form#confirm-form(method='post', action='.')

        button#wizard-next-step.button-primary(type="submit") Confirm your order
