
.navigation-bar

    .restrict-width

        h1.logo trolley

        a.action.left-action.back
            i.icon-back

        a.action.right-action.open-menu
            i.icon-list

    .restrict-width
        .menu
