
img.item-image(src="{{image}}")

h1.price.item-price {{itemPrice}}

header
    h1.item-name {{item.name}}

    button.btn-big#buy-button Buy

    .item-stats
        .views-icon
        .views-count {{item.stats.views}}
        .likes-icon
        .likes-count {{item.stats.likes}}

.item-details
    p {{item.details}}
