
img(src="{{image}}")

h1.price
  {{itemPrice}}

header
  h1.item-name {{item.name}}
  button.btn-big#buy-btn Buy
  div.stats
    div.views-icon
    div.views-count 123
    div.likes-icon
    div.likes-count 456

div.details-container
  p.details {{item.details}}
