


section.item-images

    .carousel
        img(src="{{image}}")


section.item-info

    header.waypoint

        section.item-top-bar
            h1.item-name {{item.name}}

            //- .item-stats
            //-     i.views-icon
            //-     .views-count {{stats.views}}
            //-     i.likes-icon
            //-     .likes-count {{stats.likes}}

         section.item-action-bar

            .action.action-left

                span.item-quantity
                    | {{#if itemQuantity}}{{itemQuantity}}{{else}}1{{/if}}

                span.item-price
                    | {{{formatPrice itemPrice}}}


            .action.action-right
                button.button-primary#buy-button(type='button') Purchase

        //- .styled-select
            //- select.item-quantities
            //-     {{#each quantities}}
            //-     option(value=)
            //-     {{/each}}

            //- span.item-quantity 1
            //- span.item-price {{{formatPrice itemPrice}}}

    .item-details
        p {{item.details}}
