

section.item-images

    .carousel
        img(src="{{image}}")

    h1.price.item-price {{{formatPrice itemPrice}}}


section.item-info

    header.waypoint

        h1.item-name {{item.name}}
        button.button-primary#buy-button Buy

        .item-stats
            i.views-icon
            .views-count {{stats.views}}
            i.likes-icon
            .likes-count {{stats.likes}}


    .item-details
        p {{item.details}}
