
img.item-image(src="{{image}}")

.item-info.content
    header.content-fixed
        h1.item-name {{item.name}}

        .price.item-price {{itemPrice}}

        button.btn-big#buy-button Buy

        .item-stats
            .views-icon
            .views-count {{item.stats.views}}
            .likes-icon
            .likes-count {{item.stats.likes}}

    .item-details
        p {{item.details}}
