
img.item-image(src="{{image}}")

.item-info
    h1.item-name {{item.name}}

    .price.item-price
        span.dollar
        {{itemPrice}}

    p.item-details {{item.details}}


button.btn-big#checkout-button Checkout
