

table.item
    tr
        td
            span.item-quantity 1
            span.times ×
            span.item-name {{ item.name }}

        td.right-column
            .price.item-price.right {{ formatPrice costs.item }}

hr

table.costs

    tr.shipping
        td Shipping
        td.right-column.price {{ costs.shipping }}

    tr.tax
        td Tax
        td.right-column.price {{ formatPrice costs.tax }}

    tr.total
        td Total
        td.right-column.price {{ formatPrice costs.total }}
