
input#user-password.password(type='password', name='password', placeholder='{{placeholderText}}', autocomplete='off')
input#user-password-clear.password.hidden(type='text', name='password-clear', placeholder='{{placeholderText}}', autocomplete='off')

label.toggle-password-display(for="toggle-password-display-checkbox")
    input#toggle-password-display-checkbox(name='show-password', type='checkbox')
    | Show Password
