
form(method="post", action=".")

    .instructions
        | Please enter your email address so we can send you your receipt.

    input#user-email(type='email', name='email', placeholder='Email Address')

    //- D:
    br

    .instructions
        | For a faster checkout, create an account by entering a password
        | (optional)

    .password-widget.section

    button.btn-big(type="submit", disabled=true) Register
