
.wizard-status-bar
    | Have an account?
    a#show-login-popup Login


header

    {{#if showModeToggleButton}}
    button#toggle-address-mode.button-secondary(type="button") {{toggleButtonText}}
    {{/if}}

    h1 Shipping Address


form#shipping-info-form(autocomplete="off")

    #address-mode.section

    button#wizard-next-step.btn-big(type="submit", disabled=true) Fill in all fields
