
mixin js(src)
    script(src=src, type='text/javascript')


mixin css(name)
    link(href='assets/css/'+name+'.css', rel='stylesheet')


mixin js-asset(name)
    script(src='assets/js/'+name+'.js', type='text/javascript')


mixin css-lib(name)
    link(href='assets/css/libs/'+name+'.css', rel='stylesheet')


mixin app-core(name)
    script(src='assets/js/app/'+name+'.js', type='text/javascript')


mixin app-view(name)
    script(src='assets/js/app/views/'+name+'-view.js', type='text/javascript')


mixin app-collection(name)
    script(src='assets/js/app/collections/'+name+'-collection.js', type='text/javascript')


mixin app-model(name)
    script(src='assets/js/app/models/'+name+'-model.js', type='text/javascript')


mixin app-layout(name)
    script(src='assets/js/app/layouts/'+name+'-layout.js', type='text/javascript')


mixin js-lib(name)
    script(src='assets/js/libs/'+name+'.js', type='text/javascript')