
if locals.isPhonegapBuild
    include mixins/asset-mixins-phonegap
else
    include mixins/asset-mixins-website

!!!
html
    head
        title trolley | Be our Chief Executive Customer

        meta(charset='utf-8')

        if !locals.isPhonegapBuild
            include includes/mobile-meta-tags

        //- link(rel='apple-touch-icon-precomposed', href='#{STATIC_URL}images/apple-icon.png')
        //- link(rel='apple-touch-startup-image',    href='#{STATIC_URL}images/apple-startup-image.png')

        block stylesheets
            mixin css('main')

        if locals.isPhonegapBuild && locals.remote_debugging.enabled
            - var script_src    = locals.remote_debugging.script_url
            - var interface_url = locals.remote_debugging.interface_url
            - console.log('\nRemote debugging is ENABLED. Access the interface here:')
            - console.log(interface_url + '\n')
            mixin js(script_src)

        block js-libs
            mixin js-lib('zepto')
            mixin js-lib('fastclick')
            mixin js-lib('lodash')
            mixin js-lib('underscore.deferred')
            mixin js-lib('async')
            mixin js-lib('modernizr')
            mixin js-lib('handlebars.runtime')
            mixin js-lib('backbone')
            mixin js-lib('backbone.queryparams')
            mixin js-lib('backbone.relational')
            mixin js-lib('backbone.localstorage')
            mixin js-lib('backbone.basicauth')
            mixin js-lib('backbone.layoutmanager')

        if locals.isPhonegapBuild
            mixin phonegap-js-lib('cordova')
            mixin phonegap-js-lib('barcodescanner')
            mixin phonegap-js-lib('cardio')

        if locals.show_baseline
            mixin js('http://files.keyes.ie/baseliner-latest.min.js')
            :coffeescript
                $ ->
                    console.debug 'Initializing `baseliner` lib.'
                    window._baseliner = new Baseliner()

        block app-core
            mixin app-core('templates')
            mixin app-core('app')
            mixin app-core('utils')
            mixin app-core('router')
            mixin app-core('auth')
            mixin app-core('api')
            mixin app-core('main')

        block app-models
            mixin app-model('address')
            mixin app-model('boutique')
            mixin app-model('itemspot')
            mixin app-model('user')
            mixin app-model('account')

        block app-views
            mixin app-view('header')
            mixin app-view('form')
            mixin app-view('popup')
            mixin app-view('auth')
            mixin app-view('wizard')
            mixin app-view('order-table')
            mixin app-view('itemspot')
            mixin app-view('boutique')
            mixin app-view('boutique-select')
            mixin app-view('billing-paypal')
            mixin app-view('billing-stripe')
            mixin app-view('shipping')
            mixin app-view('address-mode')
            mixin app-view('address-create')
            mixin app-view('address-select')
            mixin app-view('thanks')
            mixin app-view('purchase-wizard')
            mixin app-view('confirm')
            mixin app-view('main')

        block app-collections
            mixin app-collection('base')
            mixin app-collection('itemspot')
            mixin app-collection('boutique')
            mixin app-collection('address')

        //- If we were given a config object, inject it in the App, otherwise panic!
        if locals.appConfig
            - var appConfig = JSON.stringify(locals.appConfig, null, 2)
            - console.log('Using app config:\n' + appConfig)
        else
            != console.error('ERROR: App config is undefined!')
            != console.error(derp) //- Causes an exception, stops compilation


        script
            function startApp() {
                App.config     = !{appConfig};
                App.isPhonegap = !{Boolean(locals.isPhonegapBuild || locals.pretend_is_phonegap_build)};
                App.events.trigger('ready');
            }


        //- If this is a phonegap build, init app after 'deviceready'
        //- If this is a normal build, do it after the document is ready.
        if locals.isPhonegapBuild
            script
                $(document).on('deviceready', startApp);
        else
            script
                $(startApp);


    body

        #popup

        #header

        #page
