
if locals.phonegap
    include mixins/asset-mixins-phonegap
else
    include mixins/asset-mixins-website

!!!
html
    head
        title Virtual Plaza

        meta(charset='utf-8')

        include includes/mobile-meta-tags

        //- link(rel='apple-touch-icon-precomposed', href='#{STATIC_URL}images/apple-icon.png')
        //- link(rel='apple-touch-startup-image',    href='#{STATIC_URL}images/apple-startup-image.png')

        block stylesheets
            mixin css-lib('bootstrap.min')
            mixin css('application')

        block js-libs
            mixin js-lib('jquery')
            mixin js-lib('fastclick')
            mixin js-lib('lodash')
            mixin js-lib('async')
            mixin js-lib('backbone')
            mixin js-lib('backbone.layoutmanager')
            mixin js-lib('backbone.relational')
            mixin js-lib('backbone.queryparams')
            mixin js-lib('backbone.basicauth')
            mixin js-lib('backbone.localstorage')
            mixin js-lib('handlebars.runtime')

            if locals.phonegap
                mixin js('http://debug.phonegap.com/target/target-script-min.js#vipl-phonegap-debug')
                mixin js-lib('cordova')

        block app-core
            mixin app-core('templates')
            mixin app-core('app')
            mixin app-core('utils')
            mixin app-core('router')
            mixin app-core('auth')
            mixin app-core('api')
            mixin app-core('main')

        block app-models
            mixin app-model('address')
            mixin app-model('boutique')
            mixin app-model('itemspot')
            mixin app-model('user')
            mixin app-model('account')

        block app-views
            mixin app-view('header')
            mixin app-view('form')
            mixin app-view('popup')
            mixin app-view('auth')
            mixin app-view('wizard')
            mixin app-view('itemspot')
            mixin app-view('boutique')
            mixin app-view('boutique-select')
            mixin app-view('billing-paypal')
            mixin app-view('billing-stripe')
            mixin app-view('shipping')
            mixin app-view('address-mode')
            mixin app-view('address-create')
            mixin app-view('address-select')
            mixin app-view('thanks')
            mixin app-view('purchase-wizard')
            mixin app-view('confirm')
            mixin app-view('main')

        block app-collections
            mixin app-collection('itemspot')
            mixin app-collection('boutique')
            mixin app-collection('address')

        //- If we were given a config object, inject it in the App
        //- Otherwise, panic!
        if locals.config
            - var config = JSON.stringify(locals.config, null, 2)
            - console.log('Using app config:\n' + config)

            script(type="text/javascript")
                App.config     = !{config};
                App.isPhonegap = !{Boolean(locals.phonegap)};

        else
            != console.error('ERROR: App config is undefined!')
            != console.error(config) //- Causes an exception, stops compilation


        //- If this is a phonegap build, init app after 'deviceready'
        //- If this is a normal build, do it after the document is ready.
        if locals.phonegap
            - console.log('Compiling phonegap version.')

            :coffeescript
                $(document).on 'deviceready', ->
                    App.events.trigger 'ready'

                    ref = window.open 'http://google.com', '_blank'
                    ref.addEventListener 'loadstart', (event) ->
                        alert(event.type + ' - ' + event.url)
                    ref.addEventListener 'loadstop', (event) ->
                        alert(event.type + ' - ' + event.url)
                    ref.addEventListener 'exit', (event) ->
                        alert(event.type)

        else
            - console.log('Compiling website version.')
            :coffeescript
                $ -> App.events.trigger 'ready'


    body

        #popup

        .banner
            .spring
            .summer
            .fall
            .winter

        #header

        #page
