
module.exports =

    # Where to put the result of the grunt task (relative to project root)
    build_directory: 'phonegap/iOS/www'


    # These files will be deleted at the end of the grunt task
    tmp_directory:   'tmp'

    # Should we include code for remote debugging (weinre)
    enable_remote_debugging: true

    # The location of the remote debugging script
    remote_debugging_script_src: 'http://debug.phonegap.com/target/target-script-min.js#vipl-phonegap-debug'
